# Ignore any artifact inside 'target' folder for git commit
target/

# Ignore below artifact inside 'target' folder for git commit
.classpath
.project
.settings/
*.png
*.pem
*.ppk

# Ignore any file with extension '.log'
*.log
